{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">{% endblock css %}
{% block title %}<title>{% trans 'Customers' %}</title>{% endblock title %}
{% block content %}

<div class="container mt-2"><h4>{% trans 'Customers administration' %}</h4></div>

<div class="container mt-2 my-container">
    <div class="row">
        <div class="col-sm">
            <form action="{% url 'search_customer' %}" method="get">
              <input name="q" type="text" placeholder="{% trans 'Search...' %}">
                 <input type="submit" name="btn" value="{% trans 'Search' %}">
            </form>
        </div>
        <div class="col-sm">
            <a href="{% url 'create_customer' %}">
                <button class="btn btn-primary">{% trans 'Create new customer' %}</button>
            </a>
        </div>
        <div class="col-sm">
            {% for customer in customers %}
            <div class="row">
                <a href="{% url 'update_customer' customer.slug %}">{{ customer.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% if object_list %}
<div class="mt-4 container">
    <h4>{% trans 'Results' %} {{ object_list.count }} db</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans 'Name' %}</th>
            <th scope="col">{% trans 'E-mail' %}</th>
            <th scope="col">{% trans 'Mobile' %}</th>
            <th scope="col">{% trans 'City' %}</th>
            <th scope="col">{% trans 'Street' %}</th>
            <th scope="col">{% trans 'Zip' %}</th>
            <th scope="col">{% trans 'Country' %}</th>
            <th scope="col">{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in object_list %}
        <tr>
            <th scope="row">{{ customer.id }}</th>
            <td><a href="{% url 'update_customer' customer.slug %}">{{ customer.name }}</a></td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.zip }}</td>
            <td>{{ customer.country }}</td>
            <td><a href="{% url 'update_customer' customer.slug %}">{% trans 'Edit' %}</a> {% trans 'Delete' %}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endif %}

{% if object_list.count < 1 %}

<div class="container">{% trans 'No results' %}</div>

{% endif %}

    {% endblock content %}