{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">{% endblock css %}
{% block title %}<title>{% trans 'Create new customer' %}</title>{% endblock title %}

{% block content %}

{% if form %}

<div class="container mt-2"><h4>{% trans 'Create new customer' %}</h4></div>
<div class="container mt-2 my-container">
    <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-sm">
                <table class="table table-sm table-borderless">
                    <tbody>
                    <tr>
                        <td>{{ form.name.label }}</td>
                        <td>
                            {{ form.name }}
                            {{ form.name.errors }}
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">{{ form.name.errors }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_address" class="col-form-label">{% trans 'Street' %}</label></td>
                        <td>
                            {{ form.address }}
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Baad</div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="city" class="col-form-label">{% trans 'City' %}</label></td>
                        <td>
                            {{ form.city }}
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Baad</div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_zip" class="col-form-label">{% trans 'Zip' %}</label></td>
                        <td>
                            {{ form.zip }}
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Baad</div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_country" class="col-form-label">{% trans 'Country' %}</label></td>
                        <td>
                            {{ form.country }}
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Baad</div>
                        </td>
                    </tr>
                <tr>
                        <td><label for="id_phone" class="col-form-label">{% trans 'Mobile' %}</label></td>
                        <td>
                            {{ form.phone }}
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Baad</div>
                        </td>
                </tr>
                <tr>
                        <td><label for="id_bank" class="col-form-label">{% trans 'Bank' %}</label></td>
                        <td>
                            {{ form.bank }}
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Baad</div>
                        </td>
                </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm">
                <table class="table table-sm table-borderless" >
                    <tbody>
                    <tr>
                        <td><label for="id_email" class="col-form-label">{% trans 'E-mail' %}</label></td>
                        <td>
                            {{ form.email }}
                            {{ form.email.errors }}
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Baad</div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_taxnumber" class="col-form-label">{% trans 'Taxnumber' %}</label></td>
                        <td>
                            {{ form.taxnumber }}
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Baad</div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_sale_percent" class="col-form-label">{% trans 'Customer' %}%</label></td>
                        <td>
                            {{ form.sale_percent }}
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Baad</div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_buy_percent" class="col-form-label">{% trans 'Buyer' %}%</label></td>
                        <td>
                            {{ form.buy_percent }}
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Baad</div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_note" class="col-form-label">{% trans 'Note' %}</label></td>
                        <td>
                            {{ form.note }}
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Baad</div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
          <button class="btn btn-primary" type="submit">{% trans 'Save' %}</button>
    </form>
</div>

{% endif %}

{% endblock content %}

