{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h3>Search artist</h3>
    <div class="row">
        <div class="col-sm">
            <form action="{% url 'artist_search' %}" method="GET">
                <input name="q" type="text" placeholder="Keresés...">
                <input type="submit" name="btn" value="keres">
            </form>
        </div>
        <div class="col-sm">
            {% if form %}
            <form action="{% url 'new_artist' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
            {% else %}
            <form action="{% url 'new_artist' %}" method="POST">
                {% csrf_token %}
                <input name="name" type="text">
                <input name="bio" type="text">
                <input type="submit" name="btn" value="Submit">
            </form>
            {% endif %}
        </div>
        <div class="col-sm">
            valami
        </div>
    </div>
</div>

{% if object_list %}

<div class="mt-4 container">
    <h3>Results</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Biop</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        {% for artist in object_list %}
        <tr>
            <th scope="row">{{ artist.id }}</th>
            <td><a href="{% url 'artist_detail' artist.id %}">{{ artist.name }}</a></td>
            <td>{{ artist.bio }}</td>
            <td><a href="{% url 'edit_artist' id=artist.id %}">edit</a> delete</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock content %}