{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/jquery.autocomplete.css' %}">
<script src="{% static 'js/jquery.autocomplete.js' %}"></script>


<form action="" method="POST" id="post-form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>

{% endblock content %}


{% block script %}

 <script>
   $(document).ready(function(){
    $( "#id_artist" ).autocomplete({
      source: "{% url 'auto_complete' %}",
      selectFirst:true,
      minLength:2,
      select:function(event,ui) {
        $("#id_artist").val(ui.item.id)
      }
        });

   });

   $(document).ready(function(){
    $( "#id_appraiser" ).autocomplete({
      source: "{% url 'appraiser_complete' %}",
      selectFirst:true,
      minLength:2,
      select:function(event,ui) {
        $("#id_appraiser").val(ui.item.id)
      }
        });

   });
   </script>

{% endblock script %}