{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">{% endblock css %}
{% block title %}<title>Customers</title>{% endblock title %}

{% block content %}

{% if form %}
<form method="POST" class="main_form needs-validation" novalidate>
    {% csrf_token %}
    <div class="container">
        <div class="form-group row">
            <label for="id_name" class="col-sm-1 col-form-label">Név</label>
            <div class="col-sm-4" >
                {{ form.name }}
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group row">
            <label for="id_city" class="col-sm-1 col-form-label">Város</label>
            <div class="col-sm-4">
                {{ form.city }}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save customer</button>
</form>


{% endif %}

{% endblock content %}