{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}<title>Customers</title>{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
    <a href="{% url 'create_customer' %}">Create new customer</a>
    </div>
</div>

{% if customers %}
<div class="container">
{% for customer in customers %}
    <div class="row">
        <a href="{% url 'update_customer' customer.id %}">{{ customer.name }}</a>
    </div>
{% endfor %}
</div>
{% endif %}

{% endblock content %}