{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">{% endblock css %}
{% block title %}<title>Technikák</title>{% endblock title %}
{% block content %}
<div class="container mt-2"><h4>Technikák adminisztráció</h4></div>

<div class="container mt-2 my-container">
    <div class="row">
        <div class="col-sm">
            <form action="{% url 'search_results' %}" method="get">
              <input name="q" type="text" value="" placeholder="Search...">
                 <input type="submit" name="btn" value="keresés">
            </form>
        </div>
        <div class="col-sm">
            <a href="{% url 'create_technic' %}">
                <button class="btn btn-primary">Új technika</button>
            </a>
        </div>
        <div class="col-sm">
        nope
        </div>
    </div>
</div>

{% if object_list %}

<div class="mt-4 container">
    <h5>Results {{ object_list.count }} db</h5>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Név</th>
            <th scope="col">Dátum</th>
            <th scope="col">action</th>
         </tr>
        </thead>
        <tbody>
        {% for technic in page_obj %}
        <tr>
            <td scope="row">{{ technic.id }}</td>
            <td><a href="{% url 'update_technic' technic.slug %}">{{ technic.name }}</a></td>
            <td scope="row">{{ technic.create_date|date:"Y-m-d" }}</td>
            <td>
                <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_technic' technic.slug %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
            <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{{ page_request_var }}=1">&laquo; first</a>
                    <a href="?{{ page_request_var }}={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{{ page_request_var }}={{ page_obj.next_page_number }}">next</a>
                    <a href="?{{ page_request_var }}={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
</div>
{% endif %}



{% if object_list.count < 1 %}

<div class="mt-4 container">Nincs találat</div>

{% endif %}


{% endblock content %}

{% block script %}



{% endblock script %}