{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/lots.css' %}">

<div class="container mt-2 my-container">
    <div class="row">
        <div class="col-sm" role="form">
                <form action="" method="POST" class="form-horizontal">
                    {% csrf_token %}
                    <h3>Create new lot</h3>
                    <div class="form-group row">
                        {{ form.code.errors }}
                        <label for="code" class="col-sm-2 col-form-label">{{ form.code.label }}</label>
                        <div class="col-sm-10">
                            {{ form.code }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.worknumber.errors }}
                        <label for="worknumber" class="col-sm-2 col-form-label">Wnum</label>
                        <div class="col-sm-10">
                            {{ form.worknumber }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.artist.errors }}
                        <label for="artist" class="col-sm-2 col-form-label">{{ form.artist.label }}</label>
                        <div class="col-sm-10">
                            {{ form.artist }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.title.errors }}
                        <label for="title" class="col-sm-2 col-form-label">{{ form.title.label }}</label>
                        <div class="col-sm-10">
                            {{ form.title }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.desc.errors }}
                        <label for="desc" class="col-sm-2 col-form-label">{{ form.desc.label }}</label>
                        <div class="col-sm-10">
                            {{ form.desc }}
                        </div>
                    </div>
        </div>
        <div class="col-sm" role="form">
                    <div class="form-group row">
                        {{ form.technic.errors }}
                        <label for="technic" class="col-sm-2 col-form-label">{{ form.technic.label }}</label>
                        <div class="col-sm-10">
                            {{ form.technic }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.type.errors }}
                        <label for="type" class="col-sm-2 col-form-label">{{ form.type.label }}</label>
                        <div class="col-sm-10">
                            {{ form.type }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.size.errors }}
                        <label for="size" class="col-sm-2 col-form-label">{{ form.size.label }}</label>
                        <div class="col-sm-10">
                            {{ form.size }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.weight.errors }}
                        <label for="weight" class="col-sm-2 col-form-label">{{ form.weight.label }}</label>
                        <div class="col-sm-10">
                            {{ form.weight }}
                        </div>
                    </div>
                <div class="form-group row">
                        {{ form.note.errors }}
                        <label for="note" class="col-sm-2 col-form-label">{{ form.note.label }}</label>
                        <div class="col-sm-10">
                            {{ form.note }}
                        </div>
                    </div>
        </div>
        <div class="col-sm" role="form">
                    <div class="form-group row">
                        {{ form.purchase.errors }}
                        <label for="purchase" class="col-sm-2 col-form-label">{{ form.purchase.label }}</label>
                        <div class="col-sm-10">
                            {{ form.purchase }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.price.errors }}
                        <label for="purchase" class="col-sm-2 col-form-label">{{ form.price.label }}</label>
                        <div class="col-sm-10">
                            {{ form.price }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.pay.errors }}
                        <label for="pay" class="col-sm-2 col-form-label">{{ form.pay.label }}</label>
                        <div class="col-sm-10">
                            {{ form.pay }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.start.errors }}
                        <label for="start" class="col-sm-2 col-form-label">{{ form.start.label }}</label>
                        <div class="col-sm-10">
                            {{ form.start }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.limit.errors }}
                        <label for="limit" class="col-sm-2 col-form-label">{{ form.limit.label }}</label>
                        <div class="col-sm-10">
                            {{ form.limit }}
                        </div>
                    </div>
        </div>
    </div>
                <input type="submit" value="Save" />
                </form>
</div>
{% endblock content %}


{% block script %}
{% endblock script %}