{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'js/cleave.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/lots.css' %}">

<div class="container-fluid">
  <div class="row">
    <div class="col-sm" style="background-color: #e3e3e3;">
        <h4>Create new worklog</h4>
    </div>
    <div class="col-sm" style="background-color: #e3e3e3;">
      info
    </div>
    <div class="col-sm" style="background-color: #e3e3e3;">
      more info
    </div>
  </div>
</div>

<div class="container-fluid">
    <form method="POST" id="form" enctype="multipart/form-data" class="needs-validation" novalidate>{% csrf_token %}
  <div class="row">
    <div class="col-sm form-inline" style="background-color: #e3e3e3;">
        <label for="id_customer" class="col-form-label mr-2">{{ form.customer.label }}</label>
        {{ form.customer }}
        <span class="text-danger"><small>{{ errors.customer.as_text }}</small></span>
    </div>
    <div class="col-sm form-inline" style="background-color: #e3e3e3;">
        <label for="id_appriaser" class="col-form-label mr-2">{{ form.appraiser.label }}</label>
        {{ form.appraiser }}
        <span class="text-danger"><small>{{ errors.appraiser.as_text }}</small></span>
    </div>
    <div class="col-sm form-inline" style="background-color: #e3e3e3;">
        <label for="id_photo" class="col-form-label mr-2">{{ form.photo.label }}</label>
        {{ form.photo }}
        <span class="text-danger"><small>{{ errors.photo.as_text }}</small></span>
    </div>
  </div>
        <input type="submit" value="Save" />
    </form>
</div>

{% endblock content %}


{% block script %}
<script>
   $(document).ready(function(){
    $( "#id_artist" ).autocomplete({
      source: "{% url 'auto_complete' %}",
      selectFirst:true,
      minLength:2,
      select:function(event,ui) {
        $("#id_artist").val(ui.item.id)
      }
        });
   });

     $(document).ready(function(){
    $( "#id_customer" ).autocomplete({
      source: "{% url 'auto_complete_customer' %}",
      selectFirst:true,
      minLength:2,
      select:function(event,ui) {
        $("#id_customer").val(ui.item.id)
      }
        });
   });

        $(document).ready(function(){
    $( "#id_appraiser" ).autocomplete({
      source: "{% url 'auto_complete_appraiser' %}",
      selectFirst:true,
      minLength:2,
      select:function(event,ui) {
        $("#id_appraiser").val(ui.item.id)
      }
        });
   });

         $(document).ready(function(){
    $( "#id_technic" ).autocomplete({
      source: "{% url 'technic_complete' %}",
      selectFirst:true,
      minLength:2,
      select:function(event,ui) {
        $("#id_technic").val(ui.item.id)
      }
        });
   });


if ($('#id_purchase').length) {
  new Cleave('.input-num_purchase', {
  numeral: true,
  numeralThousandsGroupStyle: 'thousand',
  delimiter: ','
  });
}

if ($('#id_price').length) {
  new Cleave('.input-num_price', {
  numeral: true,
  numeralThousandsGroupStyle: 'thousand',
  delimiter: ','
  });
}


if ($('#id_pay').length) {
  new Cleave('.input-num_pay', {
  numeral: true,
  numeralThousandsGroupStyle: 'thousand',
  delimiter: ','
  });
}


if ($('#id_start').length) {
  new Cleave('.input-num_start', {
  numeral: true,
  numeralThousandsGroupStyle: 'thousand',
  delimiter: ','
  });
}


if ($('#id_limit').length) {
  new Cleave('.input-num_limit', {
  numeral: true,
  numeralThousandsGroupStyle: 'thousand',
  delimiter: ','
  });
}









</script>



{% endblock script %}